<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension 
		point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command commandId="de.mfreund.gentrans.transformation.handler.GentransFromXMLSourceHandler"
        label="PAMTraM: convert using PAMTraM model" style="push">
        <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="xml">
                          </test>
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
       <command
             commandId="de.mfreund.gentrans.transformation.handler.GentransFromXMLSourceHandler"
             label="PAMTraM: convert using PAMTraM model"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="xml">
                      </test>
                   </adapt>
                </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
       <command
             commandId="de.mfreund.gentrans.transformation.handler.GentransFromXMISourceHandler"
             label="PAMTraM: convert using PAMTraM model"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="xmi">
                      </test>
                   </adapt>
                </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
       <command
             commandId="de.mfreund.gentrans.transformation.handler.GentransFromXMISourceHandler"
             label="PAMTraM: convert using PAMTraM model"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="xmi">
                      </test>
                   </adapt>
                </iterate>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="de.mfreund.gentrans.transformation.handler.GentransFromXMLSourceHandler"
      id="de.mfreund.gentrans.transformation.handler.GentransFromXMLSourceHandler" name="PAMTramConvertXMLSource">
    </command>
    <command
          defaultHandler="de.mfreund.gentrans.transformation.handler.GenTransFromXMISourceHandler"
          id="de.mfreund.gentrans.transformation.handler.GentransFromXMISourceHandler"
          name="PAMTramConvertXMISource">
    </command>
  </extension>
</plugin>
