<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.mfreund.gentrans.launchConfigurationType.gentrans">
<booleanAttribute key="enableHistory" value="false"/>
<booleanAttribute key="enableStatistics" value="false"/>
<booleanAttribute key="enableUser" value="true"/>
<booleanAttribute key="handleExpanding" value="false"/>
<listAttribute key="libraryPaths"/>
<stringAttribute key="logLevel" value="INFO"/>
<intAttribute key="maxPathLength" value="0"/>
<booleanAttribute key="openTargetModelOnCompletion" value="true"/>
<listAttribute key="pamtramFiles">
<listEntry value="aml-opc-ua.pamtram"/>
</listAttribute>
<stringAttribute key="project" value="de.mfreund.pamtram.casestudies.aml-opc-ua"/>
<booleanAttribute key="rememberAmbiguousMappingChoice" value="true"/>
<listAttribute key="srcFiles">
<listEntry value="sample-aml-model-2.xmi"/>
</listAttribute>
<booleanAttribute key="storeTransformation" value="false"/>
<stringAttribute key="targetFile" value="sample-aml-model-2.xml"/>
<stringAttribute key="transformationModel" value=""/>
<booleanAttribute key="useParallelization" value="false"/>
<intAttribute key="weightingFactor" value="50"/>
</launchConfiguration>
