<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.mfreund.gentrans.launchConfigurationType.gentrans">
<booleanAttribute key="enableHistory" value="true"/>
<booleanAttribute key="enableStatistics" value="false"/>
<booleanAttribute key="enableUser" value="true"/>
<booleanAttribute key="handleExpanding" value="false"/>
<listAttribute key="libraryPaths"/>
<stringAttribute key="logLevel" value="INFO"/>
<intAttribute key="maxPathLength" value="2"/>
<stringAttribute key="pamtramFile" value="ctt-aminolight-simple-with-variable-animation-values.pamtram"/>
<listAttribute key="pamtramFiles"/>
<stringAttribute key="project" value="de.mfreund.pamtram.casestudies.ctt-aminolight"/>
<booleanAttribute key="rememberAmbiguousMappingChoice" value="false"/>
<listAttribute key="srcFiles">
<listEntry value="Smartphone.xmi"/>
<listEntry value="distanceMeassurement.xml"/>
</listAttribute>
<booleanAttribute key="storeTransformation" value="false"/>
<stringAttribute key="targetFile" value="out.xmi"/>
<stringAttribute key="targetLibBundle" value=""/>
<stringAttribute key="targetLibContext" value=""/>
<stringAttribute key="targetLibParser" value=""/>
<stringAttribute key="targetLibPath" value=""/>
<stringAttribute key="transformationModel" value=""/>
<booleanAttribute key="useParallelization" value="false"/>
<intAttribute key="weightingFactor" value="50"/>
</launchConfiguration>
