<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.mfreund.gentrans.launchConfigurationType.gentrans">
<booleanAttribute key="enableHistory" value="false"/>
<booleanAttribute key="enableUser" value="true"/>
<booleanAttribute key="handleExpanding" value="true"/>
<intAttribute key="maxPathLength" value="-1"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="pamtramFile" value="w3caui-movisa01.pamtram"/>
<stringAttribute key="project" value="de.mfreund.pamtram.casestudies.w3caui-movisa"/>
<booleanAttribute key="rememberAmbiguousMappingChoice" value="true"/>
<listAttribute key="srcFiles">
<listEntry value="PMbase1.xmi"/>
<listEntry value="Kleinversuchsanlage.xmi"/>
</listAttribute>
<booleanAttribute key="storeTransformation" value="false"/>
<stringAttribute key="targetFile" value="Kleinversuchanlage.movisa01.xmi"/>
<stringAttribute key="targetLibBundle" value=""/>
<stringAttribute key="targetLibContext" value=""/>
<stringAttribute key="targetLibParser" value=""/>
<stringAttribute key="targetLibPath" value=""/>
<stringAttribute key="transformationModel" value=""/>
</launchConfiguration>
