<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.mfreund.gentrans.launchConfigurationType.gentrans">
<booleanAttribute key="enableHistory" value="false"/>
<booleanAttribute key="enableStatistics" value="false"/>
<booleanAttribute key="enableUser" value="true"/>
<booleanAttribute key="handleExpanding" value="false"/>
<listAttribute key="libraryPaths"/>
<stringAttribute key="logLevel" value="INFO"/>
<intAttribute key="maxPathLength" value="2"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="pamtramFile" value="w3caui-movisa02.pamtram"/>
<stringAttribute key="project" value="de.mfreund.pamtram.casestudies.w3caui-movisa"/>
<booleanAttribute key="rememberAmbiguousMappingChoice" value="true"/>
<listAttribute key="srcFiles">
<listEntry value="PMbase2.xmi"/>
<listEntry value="Kleinversuchsanlage.xmi"/>
</listAttribute>
<booleanAttribute key="storeTransformation" value="false"/>
<stringAttribute key="targetFile" value="Kleinversuchanlage.movisa02.xmi"/>
<stringAttribute key="targetLibBundle" value=""/>
<stringAttribute key="targetLibContext" value=""/>
<stringAttribute key="targetLibParser" value=""/>
<stringAttribute key="targetLibPath" value=""/>
<stringAttribute key="transformationModel" value=""/>
<intAttribute key="weightingFactor" value="50"/>
</launchConfiguration>
