<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pamtram.presentation.PamtramModelWizardID"
            name="%_UI_PamtramModelWizard_label"
            class="de.mfreund.pamtram.wizards.PamtramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PamtramModelFile.gif">
         <description>%_UI_PamtramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
  <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.mfreund.pamtram.category"
            name="PAMTraM">
      </category>
      <wizard
            category="de.mfreund.pamtram.category"
            class="de.mfreund.pamtram.wizards.NewPAMTraMProjectWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.newProjectWizard"
            name="PAMTraM Project"
            project="true">
      </wizard>
   </extension>
	<extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/sourceFolder.png"
            id="de.mfreund.pamtram.decorators.SourceFolderDecorator"
            label="Source Folder Decorator"
            state="true">
         <enablement>
         <and>
            <objectState
                  name="name"
                  value="Source">
            </objectState>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
            <objectState
                  name="projectNature"
                  value="de.mfreund.pamtram.pamtramNature">
            </objectState>
         </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/mappingFolder.png"
            id="de.mfreund.pamtram.decorators.PamtramFolderDecorator"
            label="Pamtram Folder Decorator"
            state="true">
         <enablement>
         <and>
            <objectState
                  name="name"
                  value="Pamtram">
            </objectState>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
            <objectState
                  name="projectNature"
                  value="de.mfreund.pamtram.pamtramNature">
            </objectState>
         </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/targetFolder.png"
            id="de.mfreund.pamtram.decorators.TargetFolderDecorator"
            label="Target Folder Decorator"
            state="true">
         <enablement>
         <and>
            <objectState
                  name="name"
                  value="Target">
            </objectState>
            <objectClass
                  name="org.eclipse.core.resources.IFolder">
            </objectClass>
            <objectState
                  name="projectNature"
                  value="de.mfreund.pamtram.pamtramNature">
            </objectState>
         </and>
         </enablement>
      </decorator>
   </extension>
   

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.mfreund.pamtram.ui.PamtramPerspectiveFactory"
            id="de.mfreund.pamtram.pamtramPerspective"
            name="PAMTraM">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.mfreund.pamtram.pamtramPerspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
     <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/project.png"
            id="de.mfreund.pamtram.pamtramNatureImage"
            natureId="de.mfreund.pamtram.pamtramNature">
      </image>
   </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              class="de.mfreund.pamtram.ui.preferences.MainPreferencePage"
              id="de.mfreund.pamtram.ui.mainpreferencepage"
              name="PAMTraM">
        </page>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="de.mfreund.pamtram.ui.preferences.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
     point = "org.eclipse.ui.propertyPages">
        <page
              class="de.mfreund.pamtram.ui.properties.PropertiesPage"
              id="de.mfreund.pamtram.ui.properties.PropertiesPage"
              name="PAMTraM"
              selectionFilter="single">
           <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
                    <test
                          property="org.eclipse.core.resources.projectNature"
                          value="de.mfreund.pamtram.pamtramNature">
                    </test>
                    </adapt>
           </enabledWhen>
        </page>
  </extension>
  <extension
         point="org.eclipse.ui.views">
      <view
            category=""
            class="de.mfreund.pamtram.ui.views.PamtramReferencesView"
            icon="icons/full/obj16/PamtramModelFile.gif"
            id="de.mfreund.pamtram.ui.views.PamtramReferencesView"
            name="References"
            restorable="true"/>
   </extension>
</plugin>
