<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.mfreund.pamtram.launchConfigurationType.gentrans">
<intAttribute key="maxPathLength" value="0"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="pamtramFile" value="Disl2Movisa.pamtram"/>
<stringAttribute key="project" value="de.mfreund.pamtram.casestudies.disl-movisa"/>
<booleanAttribute key="rememberAmbiguousMappingChoice" value="true"/>
<stringAttribute key="srcFile" value="usecase_simple.xmi"/>
<stringAttribute key="targetFile" value="out.movisa.xmi"/>
</launchConfiguration>
