/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/SourceSectionClassItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/TargetSectionClassItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/condition/provider/AndItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/condition/provider/ComplexConditionItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/condition/provider/ConditionItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/condition/provider/ConditionItemProviderAdapterFactory.class
/de.mfreund.pamtram.model.edit/bin/pamtram/condition/provider/NotItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/condition/provider/OrItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/AttributeMappingItemProvider$1.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/AttributeMappingItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/AttributeMappingSourceElementTypeItemProvider$1.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/AttributeMappingSourceElementTypeItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/AttributeMatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/AttributeValueModifierItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/AttributeValueModifierSetItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/CalculatorMappingItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/CardinalityMappingItemProvider$1.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/CardinalityMappingItemProvider$2.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/CardinalityMappingItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/ClassMatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/ComplexAttribueMappingSourceElementItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/ComplexAttributeMappingItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/ConnectionHintTargetAttributeItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/ExpressionVariableItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingHintGroupItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingHintItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingInstanceSelectorItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingItemProvider$1.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingItemProvider$2.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingItemProviderAdapterFactory.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MappingTypeItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/MatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/ModelConnectionHintItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/SimpleAttributeMappingItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/StringAppenderItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/StringPrependerItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/SubstringReplacerItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/mapping/provider/UniqueNumberAppenderItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/ActualAttributeItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/AttributeItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/AttributeValueConstraintItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/AttributeValueSpecificationItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/BeginningMatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/CaseSensitiveConstraintItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/ClassItemProvider$1.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/ClassItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/ContainmentReferenceItemProvider$1.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/ContainmentReferenceItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/EndingMatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/EqualityMatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/MetaModelElementItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/MetamodelItemProviderAdapterFactory.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/NonContainmentReferenceItemProvider$1.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/NonContainmentReferenceItemProvider$2.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/NonContainmentReferenceItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/ReferenceItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/RegExMatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/SubstringMatcherItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/TargetModelAttributeItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/metamodel/provider/VirtualAttributeItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/MappingModelItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/NamedElementItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/PAMTraMItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/PamtramEditPlugin$Implementation.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/PamtramEditPlugin.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/PamtramItemProviderAdapterFactory.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/SectionModelItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/SourceSectionModelItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/TargetSectionModelItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/provider/TransformationModelItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/transformation/provider/TransformationItemProvider.class
/de.mfreund.pamtram.model.edit/bin/pamtram/transformation/provider/TransformationItemProviderAdapterFactory.class
/de.mfreund.pamtram.model.edit/bin/pamtram/transformation/provider/TransformationMappingItemProvider.class
