<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.aml-opc-ua"
            name="AML -&gt; OPC UA Nodeset XML"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.autoprobe"
            name="AutoProBe"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.autoprobe-simplified-diss"
            name="AutoProBe (simplified version)"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.ctt-aminolight"
            name="CTT -&gt; Aminolight"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.disl-movisa"
            name="Disl -&gt; Movisa"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.excel-movisa-tdp"
            name="Excel -&gt; Movisa TDP"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.visu-plus"
            name="STGML -&gt; Visu+"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.w3caui-movisa"
            name="W3CAUI -&gt; Movisa"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.ui.Examples/de.mfreund.pamtram.examples.category"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="de.mfreund.pamtram.pamtramPerspective"
            icon="icons/project.png"
            id="de.mfreund.pamtram.examples.company-viz"
            name="Company -&gt; Visualization"
            project="true">
      </wizard>
      <category
            id="de.mfreund.pamtram.examples.category"
            name="PAMTraM"
            parentCategory="org.eclipse.ui.Examples">
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            wizardID="de.mfreund.pamtram.examples.aml-opc-ua">
         <projectDescriptor
               contentURI="zips/aml-opc-ua/aml-opc-ua.zip"
               description="This casestudy demonstrates a transformation from an &apos;Automation ML&apos; model to an &apos;OPC UA NodetSet XML&apos; model."
               name="de.mfreund.pamtram.casestudies.aml-opc-ua">
         </projectDescriptor>
         <projectDescriptor
               contentURI="zips/aml-opc-ua/amlMetaModel.zip"
               description="The sources for the converter that transforms *.aml files into an *.xmi representation that can be handled by PAMTraM."
               name="amlMetaModel">
         </projectDescriptor>
         <projectDescriptor
               contentURI="zips/aml-opc-ua/opc-ua-server.zip"
               description="A simple Node.JS-based OPC UA server that builds its address space based on the OPC UA NodeSet XML model generated by the PAMTraM transformation."
               name="opc-ua-server">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.aml-opc-ua/Pamtram/aml-opc-ua.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.autoprobe">
         <projectDescriptor
               contentURI="zips/autoprobe.zip"
               description="This casestudy demonstrates the results from the &apos;AutoProBe&apos; project."
               name="de.mfreund.pamtram.casestudies.autoprobe">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.autoprobe/Pamtram/STGML2Movisa_enhanced.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.autoprobe-simplified-diss">
         <projectDescriptor
               contentURI="zips/autoprobe-simplified-diss.zip"
               description="This is an extremely simplified version of the AutoProBe casestudy as used in the dissertation of Matthias Freund. It only demonstrates the creation of Panels/NavigationFlows based on a State model."
               name="de.mfreund.pamtram.casestudies.autoprobe-simplified-diss">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.autoprobe-simplified-diss/Pamtram/stgml-to-movisa-simplified.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.ctt-aminolight">
         <projectDescriptor
               contentURI="zips/ctt-aminolight.zip"
               description="This casestudy demonstrates a transformation from &apos;CTT&apos; to a simplified version of &apos;AMINO&apos;."
               name="de.mfreund.pamtram.casestudies.ctt-aminolight">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.ctt-aminolight/Pamtram/ctt-aminolight.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.disl-movisa">
         <projectDescriptor
               contentURI="zips/disl-movisa.zip"
               description="This casestudy demonstrates a simple transformation from &apos;DISL&apos; to &apos;Movisa&apos;."
               name="de.mfreund.pamtram.casestudies.disl-movisa">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.disl-movisa/Pamtram/Disl2Movisa.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.excel-movisa-tdp">
         <projectDescriptor
               contentURI="zips/excel-movisa-tdp.zip"
               description="This casestudy demonstrates a simple transformation from an Excel-based meta-model to &apos;Movisa TDP&apos;."
               name="de.mfreund.pamtram.casestudies.excel-movisa-tdp">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.excel-movisa-tdp/Pamtram/excel-movisa-tdp.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.visu-plus">
         <projectDescriptor
               contentURI="zips/visu-plus.zip"
               description="This casestudy demonstrates a transformation from &apos;STGML&apos; to &apos;Visu+&apos;."
               name="de.mfreund.pamtram.casestudies.visu-plus">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.visu-plus/Pamtram/visu-plus.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.w3caui-movisa">
         <projectDescriptor
               contentURI="zips/w3caui-movisa.zip"
               description="This casestudy demonstrates a transformation from &apos;W3CAUI&apos; to &apos;Movisa&apos;."
               name="de.mfreund.pamtram.casestudies.w3caui-movisa">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.w3caui-movisa/Pamtram/w3caui-movisa.pamtram">
         </fileToOpen>
      </example>
      <example
            wizardID="de.mfreund.pamtram.examples.company-viz">
         <projectDescriptor
               contentURI="zips/company-viz.zip"
               description="This casestudy demonstrates a simple transformation from a &apos;Company&apos; metamodel to a &apos;Visualization&apos; metamodel. Note: This also includes a subsequent model-to-text transformation that produces HTML output. For this to work, the &apos;XPand SDK&apos; needs to be installed (see &apos;https://www.eclipse.org/modeling/m2t/?project=xpand&apos; for more information."
               name="de.mfreund.pamtram.casestudies.company-viz">
         </projectDescriptor>
         <fileToOpen
               editorID="pamtram.presentation.PamtramEditorID"
               location="de.mfreund.pamtram.casestudies.company-viz/Pamtram/company-viz.pamtram">
         </fileToOpen>
      </example>
   </extension>

</plugin>
