<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram"
            class="pamtram.PamtramPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/structure"
            class="pamtram.structure.StructurePackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/structure/generic"
            class="pamtram.structure.generic.GenericPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/structure/constraint"
            class="pamtram.structure.constraint.ConstraintPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/structure/source"
            class="pamtram.structure.source.SourcePackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/structure/target"
            class="pamtram.structure.target.TargetPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/structure/library"
            class="pamtram.structure.library.LibraryPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/condition"
            class="pamtram.condition.ConditionPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/mapping"
            class="pamtram.mapping.MappingPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/mapping/modifier"
            class="pamtram.mapping.modifier.ModifierPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

</plugin>
