<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram"
            class="pamtram.PamtramPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/metamodel"
            class="pamtram.metamodel.MetamodelPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/condition"
            class="pamtram.condition.ConditionPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pamtram -->
      <package
            uri="http://mfreund.de/pamtram/mapping"
            class="pamtram.mapping.MappingPackage"
            genModel="model/pamtram.genmodel"/>
   </extension>

</plugin>
