<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated data-flow-diagram -->
      <package
            uri="http://data-flow-diagram"
            class="dfd.DfdPackage"
            genModel="model/data-flow-diagram.genmodel"/>
   </extension>

</plugin>
