<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
	   <launchConfigurationType
	   	   id="de.mfreund.gentrans.launchConfigurationType.gentrans"
		   name="Launch GenTrans Transformation"
		   delegate="de.mfreund.gentrans.launching.GentransLaunchingDelegate"
		   modes= "run">
	   </launchConfigurationType>
	</extension>

</plugin>
