<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
      point="org.eclipse.core.resources.natures"
      id="pamtramNature"
      name="PAMTraM Nature">
      <runtime>
         <run class="de.mfreund.pamtram.natures.PamtramNature">
         </run>
      </runtime>
   </extension>
 
   
   
	
   
</plugin>
