<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.mfreund.pamtram.category"
            name="PAMTraM">
      </category>
      <wizard
            category="de.mfreund.pamtram.category"
            class="de.mfreund.pamtram.wizards.NewPAMTraMProjectWizard"
            id="de.mfreund.pamtram.newProjectWizard"
            name="PAMTraM Project"
            project="true">
      </wizard>
   </extension>
   <extension
      point="org.eclipse.core.resources.natures"
      id="pamtramNature"
      name="PAMTraM Nature">
      <runtime>
         <run class="de.mfreund.natures.PamtramNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/project.png"
            id="de.mfreund.pamtram.pamtramNatureImage"
            natureId="de.mfreund.pamtram.pamtramNature">
      </image>
   </extension>
</plugin>
