<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.mfreund.gentrans.launchConfigurationType.gentrans">
<booleanAttribute key="enableHistory" value="false"/>
<booleanAttribute key="enableStatistics" value="false"/>
<booleanAttribute key="enableUser" value="true"/>
<booleanAttribute key="handleExpanding" value="false"/>
<listAttribute key="libraryPaths"/>
<stringAttribute key="logLevel" value="INFO"/>
<intAttribute key="maxPathLength" value="-1"/>
<booleanAttribute key="openTargetModelOnCompletion" value="true"/>
<stringAttribute key="pamtramFile" value="visu-plus.pamtram"/>
<listAttribute key="pamtramFiles">
<listEntry value="visu-plus.pamtram"/>
</listAttribute>
<stringAttribute key="project" value="de.mfreund.pamtram.casestudies.visu-plus"/>
<booleanAttribute key="rememberAmbiguousMappingChoice" value="true"/>
<listAttribute key="srcFiles">
<listEntry value="beispiel_ver_0_2_3.xml"/>
</listAttribute>
<booleanAttribute key="storeTransformation" value="false"/>
<stringAttribute key="targetFile" value="out.xmi"/>
<stringAttribute key="targetLibBundle" value=""/>
<stringAttribute key="targetLibContext" value=""/>
<stringAttribute key="targetLibParser" value=""/>
<stringAttribute key="targetLibPath" value=""/>
<stringAttribute key="transformationModel" value=""/>
<booleanAttribute key="useParallelization" value="false"/>
<intAttribute key="weightingFactor" value="50"/>
</launchConfiguration>
